USE [SporSalonuDB]
GO
/****** Object:  Table [dbo].[Tbl_Antrenmanlar]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Antrenmanlar](
	[AntrenmanID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[HareketAdi] [nvarchar](50) NULL,
	[SetSayisi] [nvarchar](10) NULL,
	[TekrarSayisi] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AntrenmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Duyurular]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Duyurular](
	[DuyuruID] [int] IDENTITY(1,1) NOT NULL,
	[Metin] [nvarchar](500) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DuyuruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kullanicilar]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[KullaniciAdi] [nvarchar](30) NULL,
	[Sifre] [nvarchar](20) NULL,
	[Rol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Mesajlar]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Mesajlar](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[GonderenID] [int] NULL,
	[AliciID] [int] NULL,
	[Konu] [nvarchar](50) NULL,
	[Icerik] [nvarchar](500) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Odemeler]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Ay] [nvarchar](20) NULL,
	[Tutar] [decimal](18, 2) NULL,
	[OdenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Olcumler]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Olcumler](
	[OlcumID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Boy] [int] NULL,
	[Kilo] [decimal](5, 2) NULL,
	[YagOrani] [decimal](5, 2) NULL,
	[OlcumTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OlcumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UyeDetay]    Script Date: 17.01.2026 16:35:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UyeDetay](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Telefon] [nvarchar](15) NULL,
	[DogumTarihi] [date] NULL,
	[KayitTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Duyurular] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Tbl_Mesajlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Tbl_Odemeler] ADD  DEFAULT (getdate()) FOR [OdenmeTarihi]
GO
ALTER TABLE [dbo].[Tbl_Olcumler] ADD  DEFAULT (getdate()) FOR [OlcumTarihi]
GO
ALTER TABLE [dbo].[Tbl_UyeDetay] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Tbl_Olcumler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Tbl_Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Tbl_UyeDetay]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Tbl_Kullanicilar] ([KullaniciID])
GO
